# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Review Data Science Task Categories and Tools used for each task;
- List popular Languages for Data Science;
- List popular Libraries for Data Science;
- Explain the concept of Application Programming Interfaces;
- List useful open data sets.

Some of the popular languages that Data Scientists use are:
1. Python;
2. R;
3. SQL;
4. Java;
5. Scala;
6. C++;
7. Julia.

Some of the commonly used libraries used by Data Scientists include:
1. Pandas;
2. NumPy;
3. Matplotlib;
4. TensorFlow.

| Data Science Tools|
|-----|
| Jupyter |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Joana Moreira